#!/bin/sh
BASEDIR=`dirname "$0"`
exec java \
	-classpath "$BASEDIR/@DistJarName@:$BASEDIR/lib" \
	-Xdock:name="@ApplicationTitle@" \
        -Xdock:icon="$BASEDIR/../Resources/@DistName@@FilenameIdentifier@.icns" \
	@MainClass@