#!/bin/sh
BASEDIR=`dirname "$0"`
exec java \
add memory increase
	-classpath "$BASEDIR/arbil-@ArbilVersionNumber@.jar:$BASEDIR/lib" \
	-Xdock:name="@ApplicationTitle@" \
        -Xdock:icon="$BASEDIR/../Resources/arbil@FilenameIdentifier@.icns" \
	nl.mpi.arbil.ArbilMain